/* src/Dropdown.css */

.dropdown {
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
  }
  